Pillow>=10.0.0
beautifulsoup4>=4.12.3
imageio
imageio-ffmpeg
lxml>=5.2.2
numpy
numpy>=1.26
openai
openai>=1.40.0
opencv-python-headless
openpyxl
openpyxl>=3.1
openpyxl>=3.1.2
pandas
pandas>=2.2
pandas>=2.2.2
pyarrow>=16.1
requests>=2.32.0
streamlit
streamlit>=1.36
streamlit>=1.36.0
xlrd==2.0.1
python-docx>=1.1.2
feedparser>=6.0.11
pytz>=2024.1
